/* =========
Your custom styles go here
 ========= */

 /* Default Status bar background */
.statusbar-overlay {

    background: #333;
    /* We can add transition for smooth color animation */
    -webkit-transition: 400ms;
    transition: 400ms;
}
 
/* Change Status bar background when panel opened */
body.with-panel-left-cover .statusbar-overlay {
    background: white;
}       

.wifi-network-row {
	padding-left: 15px;
}

.wifi-network-row:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 0.5px solid #ccc;
}

.wifi-network-icons-col {
	display: flex;
	height: 43px;
	align-items: center;
	justify-content: flex-end;
}

.wifi-name {
	display: inline-block;
	width: 100%;
	padding-left: 29px;
}

.wifi-name input {
	/*height: 100%!important;*/
}
.wifi-connected-icon {
	font-size: 19px!important;
}

.wifi-network-switch .wifi-toggle .item-title {
	padding-left: 30px!important;
}

.wifi-network-switch .wifi-info-icon{
	bottom: 2.5px!important;

}
.wifi-network-list .item-inner {
	padding-right: 15px!important;
	background-image: none!important;
}

.wifi-network {
	width: 100%;
}

.wifi-network-info {
	display:inline-block;
	margin-right: 15px;
}
.wifi-icon {
	width: 18px;
	height: 18px;
	top:2px;
	position:relative;
	right: 10px;
}
.wifi-info-icon i{
	bottom: 2.5px;
	font-size: 22px;
}
.info-icon {
	bottom: 2.5px;
}
.lock-icon {
	width: 11px;
	height: 11px;
	position:relative;
	right: 22px;
	bottom:2px;
}

.pencil-icon {
		width: 16px;
	height: 16px;
	position:relative;
	right: 22px;
}

.timeline {
	margin-top: 25px;
}
.timeline-item-date {
	color: #6d6d72!important;
	/*width: 100px;*/
}

/*.timeline-sides .timeline-item-right {
	margin-left: calc(50% - (30px + 10px)/ 2 - 50px);
}*/

.date {
	text-align: center;
	font-size:17px;
	font-weight:600;
	margin-top: 25px;
	color: #6d6d72!important;
/*	background-color: #ccc;
	padding-top: 10px;
	padding-bottom:10px;*/
}


input,
textarea,
[contenteditable] {
	outline: 0;
    -webkit-user-select: text!important;
    user-select: text;
}